name: Artifacts
on:
    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: macos-latest
        steps:
        - name: Get cole
          uses: actions/checkout@v3
          
        - name: Extract Info.plist values
          run: |
            cd ./github-actions/github-actions/Resources
            ls -R

        - name: Archive artifact
          uses: actions/upload-artifact@v2
          with:
            name: ios-info-files
            path: ./github-actions/github-actions/Resources/configuration.json

    deploy:
         needs: build
         runs-on: macos-latest
         steps:
             - name: Get build artifacts
               uses: actions/download-artifact@v3
               with:
                 name: ios-info-files
             - name: Output contents
               run: ls
          
          
          
          
          
          
          
    
        
          

